= form_for @comment, html: { class: "form form-horizontal comment", style: "width:50%;" } do |f|
  .form-group
    = f.label :post_id, class: 'control-label col-lg-2'
    .col-lg-10
      - if @comment.id.present?
        = f.select_tag :post_id, options_for_select(@posts.map{|post| [post.title, post.id]}, [@comment.post.title, @comment.post.id]), class: 'form-control'
      - else
        = f.select_tag :post_id, options_for_select(@posts.map{|post| [post.title, post.id]}), class: 'form-control'
    = f.error_span(:post_id)
  .form-group
    = f.label :body, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :body, class: 'form-control', required: true
    = f.error_span(:body)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), comments_path, :class => 'btn btn-default'
